doctype html
html
	head
		title ACCESORIES
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="../assets/css/contact.css")
		link(rel="stylesheet", href="../assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="../assets/css/ionicons.min.css")
	body
		.encabezado
			.container
				.row
					.col-md-6
						p Default Welcome Msg!
					.col-md-6
						.fila
							button
								img(src="../assets/images/flag1.png")
								p Language
							button
								i.ion-social-usd
								p Currency
							button
								i.ion-person-stalker
								p My Account
		.hero
			.container
				.row
					.col-md-4
						.hora
							i.ion-android-time
							h3 OPENING TIME
							P 9:00AM -10:00PM
					.col-md-4
						.imagen
							img(src="../assets/images/logo.png")
					.col-md-4
						input(type="text",placeholder="search")
		.menu
			.container
				.row
					.col-md-6
						ul
							li 
								a(href="index.html") 
									strong HOME
							li
								a(href="contact.html")
									strong CONTACT US
					.col-md-6
						button
							i.ion-android-cart
							h4 My Cart
							p 2 items-$400.00
		.header-contact
			.container
				.row
					.col-sm-6
						h1 
							strong CONTACT US
					.col-sm-6
						.texto
							h4 Contact info:
							p Phone: (0123)2436713
							p Mail: infor@roadthemes.com
							p Address: Nº 40 baria Street 235,New York city
		.formulario
			.container
				.row
					.col-sm-6
						.mapa
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6053.412650076696!2d-73.956230386357!3d40.65840359474163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b6a115ce57b%3A0xc1ea690586812456!2sProspect-Lefferts+Gardens%2C+Brooklyn%2C+Nueva+York%2C+EE.+UU.!5e0!3m2!1ses!2spe!4v1464968011169" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					.col-sm-6
						.contacto
							.row
								.col-sm-6
									input(type="text",placeholder="First name")
									input(type="text",placeholder="Email")
								.col-sm-6
									input(type="text",placeholder="Last name")
									input(type="text",placeholder="Website")
								.inpu
									input(type="text",placeholder="Subject")
								.inpu
									textarea(type="text",placeholder="Message", row="10")
									button SEND
		.footer
			.container
				.row
					.col-sm-3
						h5
							strong ACCESORIES
						P Lorem ipsum dolor sit amet, consectetur adipsing ing elit, sed do amet, consectetur adipsing ing elit, sed do amet, consectetur adipsing ing elit, sed do amet, consectetur adipsing ing elit, sed do laboris.
						.redes
							.cuadro-redes
								i.ion-social-facebook
							.cuadro-redes
								i.ion-social-twitter
							.cuadro-redes
								i.ion-social-rss
							.cuadro-redes
								i.ion-social-skype
							.cuadro-redes
								i.ion-social-dribbble-outline
					.col-sm-6
						.row
							.col-sm-4
								h5 
									strong MY ACCOUNT
								ul
									li 
										i.ion-ios-play  My Account
									li 
										i.ion-ios-play  Order history
									li 
										i.ion-ios-play  Wish List
									li 
										i.ion-ios-play  Newsletter
							.col-sm-4
								h5
									strong INFORMATION
								ul
									li 
										i.ion-ios-play  About Us
									li 
										i.ion-ios-play  Delivery Information
									li 
										i.ion-ios-play  Privacy Policy
									li 
										i.ion-ios-play  Terms&Conditions
							.col-sm-4
								h5
									strong EXTRAS
								ul
									li 
										i.ion-ios-play  Brands
									li 
										i.ion-ios-play  Gift Bouchers
									li 
										i.ion-ios-play  Affiliates
									li 
										i.ion-ios-play  Special
					.col-sm-3.about
						h5
							strong ABOUT US
						.row
							.col-sm-3.iconos
								.circulo
									i.ion-ios-location
								.circulo
									i.ion-android-call
								.circulo
									i.ion-android-mail
							.col-sm-9.parrafo
								.letra
									p 8901 Mamrroa Road, Glasgoat DH08
									P New York
								.letra
									p (0123)456789
									p (4532)456783
								.letra
									p admin@booxterperts.com
		.pie-pagina
			.container
				p Copyright©2015 BootExperts All rights reserved.
				img(src="../assets/images/payment.png")