doctype html
html
	head
		title ACCESORIES
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="../assets/css/main.css")
		link(rel="stylesheet", href="../assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="../assets/css/ionicons.min.css")

	body
		.encabezado
			.container
				.row
					.col-md-6
						p Default Welcome Msg!
					.col-md-6
						.fila
							button
								img(src="../assets/images/flag1.png")
								p Language
							button
								i.ion-social-usd
								p Currency
							button
								i.ion-person-stalker
								p My Account
		.hero
			.container
				.row
					.col-md-4
						.hora
							i.ion-android-time
							h3 OPENING TIME
							P 9:00AM -10:00PM
					.col-md-4
						.imagen
							img(src="../assets/images/logo.png")
					.col-md-4
						input(type="text",placeholder="search")
		.menu
			.container
				.row
					.col-md-6
						ul
							li 
								a(href="index.html") 
									strong HOME
							li
								a(href="contact.html")
									strong CONTACT US
					.col-md-6
						button
							i.ion-android-cart
							h4 My Cart
							p 2 items-$400.00

		.header
			.container
				.titulo
					h1 AUTUMN/WINTER LOOKBOOK
					h4 
					tt - 2016 Colection -
				.cuadro-oferta
					.row
						.col-sm-5
							img(src="../assets/images/cart-1.jpg")
							img(src="../assets/images/cart-2.jpg")
							p Sub total
							p Eco Tax(-200)
							P VAT(20%)
						.col-sm-7
							br
							p 
								strong Aliquan Consequat
							p 1x500 x
							br
							br
							p 
								strong Aliquan Consequat
							p 1x500 x
							br
							br
							p $700
							p $700
							p $40,00
		.cont-imagen
			.container
				.row
					.col-md-5
						img(src="../assets/images/banner1.jpg")
					.col-md-7
						img(src="../assets/images/banner2.jpg")

		.linea1
			.container
				hr
				.texto
					h4
						strong LATEST
					h4 BETSELLER
					h4 SALE
		.latest
			.container
				.row
					.col-md-3
						.cuadro
							img(src="../assets/images/a1.jpg")
							h5 
								strong Deliver Wide
							.iconos-star
								i.ion-star
								i.ion-star
								i.ion-star
								i.ion-ios-star-outline
								i.ion-ios-star-outline
							p $218.00
					.col-md-3
						.cuadro
							img(src="../assets/images/b1.jpg")
							h5 
								strong Deliver Wide
							.iconos-star
								i.ion-star
								i.ion-star
								i.ion-star
								i.ion-ios-star-outline
								i.ion-ios-star-outline
							p $218.00
					.col-md-3
						.cuadro
							img(src="../assets/images/c1.jpg")
							h5 
								strong Deliver Wide
							.iconos-star
								i.ion-star
								i.ion-star
								i.ion-star
								i.ion-ios-star-outline
								i.ion-ios-star-outline
							p $218.00
					.col-md-3
						.cuadro
							img(src="../assets/images/h1.jpg")
							h5 
								strong Deliver Wide
							.iconos-star
								i.ion-star
								i.ion-star
								i.ion-star
								i.ion-ios-star-outline
								i.ion-ios-star-outline
							p $218.00
		.fila-marcas
			.container
				.row
					.col-sm-2
						img(src="../assets/images/client1.jpg")
					.col-sm-2
						img(src="../assets/images/client2.jpg")
					.col-sm-2
						img(src="../assets/images/client3.jpg")
					.col-sm-2
						img(src="../assets/images/client4.jpg")
					.col-sm-2
						img(src="../assets/images/client5.jpg")
					.col-sm-2
						img(src="../assets/images/client6.jpg")
		.linea2
			.container
				hr
				.texto
					h4
						strong CLOTHING
					h4 EQUIPMENTS
					h4 JEWELLERY
		.clothing
			.container
				.row
					.col-sm-4
						.cont-clothing
							.row
								.col-sm-6
									.imagen
										img(src="../assets/images/a2.jpg")
								.col-sm-6
									h5 
										strong Deliver Wide
									p $242.00 - $218.00
									.iconos-star
										i.ion-star
										i.ion-star
										i.ion-star
										i.ion-ios-star-outline
										i.ion-ios-star-outline
									p $218.00
									button
										i.ion-android-cart
										p Add to Cart
						.cont-clothing
							.row
								.col-sm-6
									.imagen
										img(src="../assets/images/c2.jpg")
								.col-sm-6
									h5 
										strong Deliver Wide
									p $242.00 - $218.00
									.iconos-star
										i.ion-star
										i.ion-star
										i.ion-star
										i.ion-ios-star-outline
										i.ion-ios-star-outline
									p $218.00
									button
										i.ion-android-cart
										p Add to Cart
					.col-sm-4
						.cont-clothing
							.row
								.col-sm-6
									.imagen
										img(src="../assets/images/d2.jpg")
								.col-sm-6
									h5 
										strong Deliver Wide
									p $242.00 - $218.00
									.iconos-star
										i.ion-star
										i.ion-star
										i.ion-star
										i.ion-ios-star-outline
										i.ion-ios-star-outline
									p $218.00
									button
										i.ion-android-cart
										p Add to Cart
						.cont-clothing
							.row
								.col-sm-6
									.imagen
										img(src="../assets/images/c2.jpg")
								.col-sm-6
									h5 
										strong Deliver Wide
									p $242.00 - $218.00
									.iconos-star
										i.ion-star
										i.ion-star
										i.ion-star
										i.ion-ios-star-outline
										i.ion-ios-star-outline
									p $218.00
									button
										i.ion-android-cart
										p Add to Cart
					.col-sm-4
						.cont-clothing
							.row
								.col-sm-6
									.imagen
										img(src="../assets/images/g2.jpg")
								.col-sm-6
									h5 
										strong Deliver Wide
									p $242.00 - $218.00
									.iconos-star
										i.ion-star
										i.ion-star
										i.ion-star
										i.ion-ios-star-outline
										i.ion-ios-star-outline
									p $218.00
									button
										i.ion-android-cart
										p Add to Cart
						.cont-clothing
							.row
								.col-sm-6
									.imagen
										img(src="../assets/images/e2.jpg")
								.col-sm-6
									h5 
										strong Deliver Wide
									p $242.00 - $218.00
									.iconos-star
										i.ion-star
										i.ion-star
										i.ion-star
										i.ion-ios-star-outline
										i.ion-ios-star-outline
									p $218.00
									button
										i.ion-android-cart
										p Add to Cart
		.linea3
			.container
				hr
				.texto
					h3
						strong < BLOG >
		.blog
			.container
				.row
					.col-sm-3.blog-text
						img(src="../assets/images/blog2.jpg")
						h5 
							strong THE SAMPLE HEADING TITLE
						P 27/11/2015
						P Lorem ipsum dolor sit amet, consectetur adipsing ing elit, sed do...
						a(href="#") Read more... 
					.col-sm-3.blog-text
						img(src="../assets/images/blog1.jpg")
						h5 
							strong THE SAMPLE HEADING TITLE
						P 27/11/2015
						P Lorem ipsum dolor sit amet, consectetur adipsing ing elit, sed do...
						a(href="#") Read more...
					.col-sm-3.blog-text
						img(src="../assets/images/blog2.jpg")
						h5 
							strong THE SAMPLE HEADING TITLE
						P 27/11/2015
						P Lorem ipsum dolor sit amet, consectetur adipsing ing elit, sed do...
						a(href="#") Read more...
					.col-sm-3.blog-text
						img(src="../assets/images/blog3.jpg")
						h5 
							strong THE SAMPLE HEADING TITLE
						P 27/11/2015
						P Lorem ipsum dolor sit amet, consectetur adipsing ing elit, sed do...
						a(href="#") Read more...
				.row.vuelos
					.col-sm-4
						.cont-icono
							.row
								.col-sm-3
									.borde
										i.ion-android-call
								.col-sm-9
									h4 ORDER ONLINE NOW
									P Call Us (0123)456789
					.col-sm-4
						.cont-icono
							.row
								.col-sm-3
									.borde
										i.ion-plane
								.col-sm-9
									h4 FREE WORLWIDE SHIPPING
									P Call Us (0123)456789
					.col-sm-4
						.cont-icono
							.row
								.col-sm-3
									.borde
										i.ion-cash
								.col-sm-9
									h4 30 DAYS MONEY BACK 100%
									P Call Us (0123)456789
		.footer
			.container
				.row
					.col-sm-3
						h5
							strong ACCESORIES
						P Lorem ipsum dolor sit amet, consectetur adipsing ing elit, sed do amet, consectetur adipsing ing elit, sed do amet, consectetur adipsing ing elit, sed do amet, consectetur adipsing ing elit, sed do laboris.
						.redes
							.cuadro-redes
								i.ion-social-facebook
							.cuadro-redes
								i.ion-social-twitter
							.cuadro-redes
								i.ion-social-rss
							.cuadro-redes
								i.ion-social-skype
							.cuadro-redes
								i.ion-social-dribbble-outline
					.col-sm-6
						.row
							.col-sm-4
								h5 
									strong MY ACCOUNT
								ul
									li 
										i.ion-ios-play  My Account
									li 
										i.ion-ios-play  Order history
									li 
										i.ion-ios-play  Wish List
									li 
										i.ion-ios-play  Newsletter
							.col-sm-4
								h5
									strong INFORMATION
								ul
									li 
										i.ion-ios-play  About Us
									li 
										i.ion-ios-play  Delivery Information
									li 
										i.ion-ios-play  Privacy Policy
									li 
										i.ion-ios-play  Terms&Conditions
							.col-sm-4
								h5
									strong EXTRAS
								ul
									li 
										i.ion-ios-play  Brands
									li 
										i.ion-ios-play  Gift Bouchers
									li 
										i.ion-ios-play  Affiliates
									li 
										i.ion-ios-play  Special
					.col-sm-3.about
						h5
							strong ABOUT US
						.row
							.col-sm-3.iconos
								.circulo
									i.ion-ios-location
								.circulo
									i.ion-android-call
								.circulo
									i.ion-android-mail
							.col-sm-9.parrafos
								.letra
									p 8901 Mamrroa Road, Glasgoat DH08
									P New York
								.letra
									p (0123)456789
									p (4532)456783
								.letra
									p admin@booxterperts.com
		.pie-pagina
			.container
				p Copyright©2015 BootExperts All rights reserved.
				img(src="../assets/images/payment.png")